{% extends "base.html" %}

{% block content %}
  <h1>
    Topic list
  </h1>
  {% if topics %}
    <ul>
      {% for topic in topics %}
        <li>
          <a href="{% url 'news_agency_app:topic-detail' pk=topic.id %}">{{ topic.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No topics available.</p>
  {% endif %}
  {% if user.is_authenticated %}
    <a href="{% url 'news_agency_app:topic-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  {% endif %}
{% endblock %}
