<nav class="navbar navbar-dark bg-dark">
  <ul class="navbar-nav flex-row">
    <li class="nav-item mx-3">
      <a class="nav-link text-light" href="{% url 'news_agency_app:index' %}">Home</a>
    </li>
  </ul>

  <ul class="navbar-nav flex-row">
    {% if user.is_authenticated %}
      <li class="nav-item mx-3">
        <span class="navbar-text text-light">Welcome, {{ user.username }}</span>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a>
      </li>
    {% else %}
      <li class="nav-item mx-3">
        <a class="nav-link text-light" href="{% url 'login' %}">Login</a>
      </li>
    {% endif %}
  </ul>
</nav>
